{{/* Reusable taxonomy badges: same styling as article-meta/basic.html (me-2 mt-[0.5rem]) */}}
{{ $context := . }}
{{ $inline := false }}
{{ if (reflect.IsMap .) }}
  {{ $context = .context }}
  {{ $inline = .inline | default false }}
{{ end }}
{{ with $context }}
  {{ $badgeClass := "relative me-2" }}
  {{ if not $inline }}{{ $badgeClass = "relative mt-[0.5rem] me-2" }}{{ end }}
  {{ if .Params.showTaxonomies | default (.Site.Params.article.showTaxonomies | default false) }}
    {{ range $taxonomy, $terms := .Site.Taxonomies }}
      {{ if and (not (eq $taxonomy "authors")) (not (eq $taxonomy "series")) }}
        {{ range $context.GetTerms $taxonomy }}
          <a class="{{ $badgeClass }}" href="{{ .RelPermalink }}">{{ partial "badge.html" .LinkTitle }}</a>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
