{{ if .Params.showTaxonomies | default (.Site.Params.article.showTaxonomies | default false) }}
  <div class="flex flex-row flex-wrap items-center mt-4 mb-6">
    {{ range $taxonomy, $terms := .Site.Taxonomies }}
      {{ if and (not (eq $taxonomy "authors")) (not (eq $taxonomy "series")) }}
        {{ with $.GetTerms $taxonomy }}
          {{ range . }}
            <a class="relative me-2 mt-1" href="{{ .RelPermalink }}">
              {{ partial "badge.html" .LinkTitle }}
            </a>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
